DATABASE_URL=postgresql+asyncpg://sge_user:sge_pass@db:5432/sge_db
REDIS_URL=redis://redis:6379/0
SECRET_KEY=cambia_esto_por_una_clave_segura_de_minimo_32_chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ENVIRONMENT=development
SUPERADMIN_EMAIL=admin@sge.local
SUPERADMIN_PASSWORD=cambia_esto_en_produccion
